<h1>update</h1>
<form action="/api/members/:USERID" method="PUT"class="mb-4">
<div class="form-group">
    <label for="USERID">USERID</label>
    <input type="text" USERID="USERID" class="form-control">
</div>  
<input type="submit" value="UpdateUser" >
</form>